<div class="register-general-container">
    <div class="register-container">
        <div class="register-title">Devs<span class="tv">TV</span></div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="inputs-container">
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" formControlName="name">
                    @if(submitted && registerForm.get('name')?.errors?.['required']) {
                        <span>{{validationMessages.name[0].message}}</span>
                    }
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" formControlName="email">
                    @if(submitted && registerForm.get('email')?.errors?.['required']) {
                        <span>{{validationMessages.email[0].message}}</span>
                    }
                    @else if (submitted && registerForm.get('email')?.errors?.['email']) {
                        <span>{{validationMessages.email[1].message}}</span>
                    }
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password">
                    @if(submitted && registerForm.get('password')?.errors?.['required']) {
                        <span>{{validationMessages.password[0].message}}</span>
                    }
                    @else if (submitted && registerForm.get('password')?.errors?.['minlength']) {
                        <span>{{validationMessages.password[1].message}}</span>
                    }
                </div>
                <div class="input-group">
                    <label for="confirmPassword">Confirm password:</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword">
                    @if(submitted && registerForm.errors?.['passwordMismatch']) {
                        <span>{{validationMessages.confirmPassword[1].message}}</span>
                    }
                    @else if (submitted && registerForm.get('confirmPassword')?.errors?.['required']) {
                        <span>{{validationMessages.confirmPassword[0].message}}</span>
                    }
                </div>
            </div>
            <a routerLink="/login">
                <p>Already have an account? Log in</p>
            </a>
            <div class="button-container">
                <!-- <button type="submit" [disabled]="registerForm.invalid">Register</button> -->
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>