.footer-container {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
    background-color: #001011;
    color: white;
}