@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.general-videos-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

article {
    width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

article img {
    max-width: 100%;
    height: auto;
}