<div class="categories-select-container">
    <h3>Select category</h3>
    <select class="categories-select" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">
        <option value="all">All</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>    
</div>
<div class="general-videos-container">
    @if (filteredVideos.length > 0) {
    @for (video of filteredVideos; track $index) {
    <article>
        <h3 class="video-titles">{{ video.title }}</h3>
        <div class="video-container">
            <a href="{{ video.youtubeURL }}" target="_blank">
                <img src="{{ video.thumbnail }}" alt="Imágen del video">
                <div class="play-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="72px" height="72px">
                        <path d="M8 5v14l11-7z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </div>
            </a>
        </div>
        <p>Reference: {{ video.reference }}</p>
        <p>Category: {{ video.category }}</p>
    </article>
    }
    }
    @else {
    <p class="no-videos-text">No videos available</p>
    }
</div>