<div class="general-bookmarks-container">
    <h1>Bookmarked videos</h1>
    @if (isLoggedIn()) {
        <div class="bookmarks-container">
            @if (bookmarkedVideos.length > 0) {
                <div class="bookmarks">
                    @for (video of bookmarkedVideos; track $index) {
                        <article>
                            <h3 class="video-titles">{{ video.title }}</h3>
                            <div class="video-container">
                                <a href="{{ video.youtube_url }}" target="_blank">
                                    <img src="{{ video.thumbnail_url }}" alt="Imágen del video">
                                    <div class="play-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="72px" height="72px">
                                            <path d="M8 5v14l11-7z" />
                                            <path d="M0 0h24v24H0z" fill="none" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <p>Reference: {{ video.reference }}</p>
                            <p>Category: {{ video.category }}</p>
                        </article>
                    }
                </div>
            } @else {
                <p>You don't have any bookmarks yet!</p>
            }
        </div>
    } 
    @else {
        <p>You need to be logged in to see your bookmarks!</p>
    }
</div>