form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    padding: 40px;
}

label {
    font-size: 1rem;
    margin-right: 10px;
}

input {
    padding: 10px;
    border: 2px solid #B1FFC7;
    border-radius: 10px;
    background-color: #1d3532;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #57cc99;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #00b15b;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 9rem;
    margin: auto;
}

button[type="submit"]:hover {
    background-color: #01914b;
}

.categories-select {
    padding: 5px 10px;
    border: 2px solid #B1FFC7;
    border-radius: 10px;
    background-color: #1d3532;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.categories-select option {
    background-color: #1d3532;
    color: white;
}
