<form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
    <label for="reference">Reference:</label>
    <input type="text" id="reference" formControlName="reference">

    <label for="youtube_url">YouTube URL:</label>
    <input type="text" id="youtube_url" formControlName="youtube_url">

    <label for="thumbnail_url">Thumbnail URL:</label>
    <input type="text" id="thumbnail_url" formControlName="thumbnail_url">

    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">

    <label for="category">Category:</label>
    <select id="category" formControlName="category" class="categories-select">
        <option *ngFor="let category of categories; let first = first" [value]="category" [selected]="first">{{ category
            }}</option>
    </select>

    <button type="submit" [disabled]="videoForm.invalid">Upload video</button>
</form>